# -------------------------------------------------------------------------
# .NET / C# / Visual Studio
# -------------------------------------------------------------------------
# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

# Database
*.db
*.db-shm
*.db-wal
*.mdf
*.ldf

# Environment Variables (Backend)
appsettings.Development.json
appsettings.Production.json

# Spring Boot Secrets
application-secrets.properties

# -------------------------------------------------------------------------
# Java / Spring Boot
# -------------------------------------------------------------------------
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
.classpath
.project
.factorypath
.settings/
.springBeans
sts.yaml
logs/
*.log
help.md
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# -------------------------------------------------------------------------
# Frontend / Node.js
# -------------------------------------------------------------------------
# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build
dist/
dist-ssr/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables (Frontend)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage/

# -------------------------------------------------------------------------
# OS / Misc
# -------------------------------------------------------------------------
.DS_Store
Thumbs.db
*.tmp
*.bak
temp_*.json
*_temp.json

# Agent
.agent/
